image: maven:3.9-eclipse-temurin-17

services:
  - postgres:15-alpine

variables:
  # Configure the Postgres service itself
  POSTGRES_DB: chat_db
  POSTGRES_USER: $DB_USER
  POSTGRES_PASSWORD: $DB_PASSWORD
  POSTGRES_HOST_AUTH_METHOD: trust

  # Inject values into Spring Boot (Overrides your application.properties)
  SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/chat_db
  SPRING_DATASOURCE_USERNAME: $DB_USER
  SPRING_DATASOURCE_PASSWORD: $DB_PASSWORD

stages:
  - build
  - test

test-job:
  stage: test
  script:
    - mvn test