image: maven:3.9-eclipse-temurin-17

services:
  - postgres:15-alpine

variables:
  # Configure the Postgres service itself
  POSTGRES_DB: chat_db
  POSTGRES_USER: $DB_USER
  POSTGRES_PASSWORD: $DB_PASSWORD
  POSTGRES_HOST_AUTH_METHOD: trust

  # Inject values into Spring Boot (Overrides your application.properties)
  SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/chat_db
  SPRING_DATASOURCE_USERNAME: $DB_USER
  SPRING_DATASOURCE_PASSWORD: $DB_PASSWORD

stages:
  - build
  - test

build-job:
  stage: build
  script:
    - cd backend/chat-app          # Move into the project folder
    - mvn clean compile            # The actual "Build" instruction
  artifacts:
    paths:
      - backend/chat-app/target/   # Save the results for the next stage

test-job:
  stage: test
  script:
    - mvn -f backend/chat-app/pom.xml test    # will look for target/test-classes the previous stage created